body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-name {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-content: space-around;
}

.button {
  background-color: transparent;
  border: none;
  color: #333333;
  padding: 10px 15px;
  margin-right: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  grid-gap: 20px;
}

.gallery-item {
  overflow: hidden;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  height: auto;
}
