html,
body {
  height: 100%;
}
.content {
  font-family: "Lora", serif;
  margin-left: 120px;
  background-color: #f7f7f7;
  height: 93vh;
}

.profile-name {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 8px;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 96vh;
  position: fixed;
}
.navbar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.button {
  background-color: transparent;
  border: none;
  color: #333333;
  padding: 10px 15px;
  margin-right: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.field-info {
  font-size:smaller; 
  color: #333; 
  font-style: italic; 
}

.button:hover {
  background-color: #f0f0f0;
}

.landing-gallery {
  width: 80vw;
  padding-top: 10px;
}

.gallery-item {
  overflow: hidden;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.your-posts {
  height: 20em;
  background: yellow;
}
.user-page {
  padding-bottom: 10vh;
}
.post-page {
  padding-bottom: 7vh;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  height: auto;
    display: block;
  margin: 0 auto;
}
body button {
  background-color: transparent;
  border: none;
  color: #333333;
  padding: 10px 15px;
  margin-right: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

body button:hover {
  background-color: #f0f0f0;
}

.post-form {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  font-family: "Libre Franklin", sans-serif;
}

.post-form form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.post-form form > div {
  margin-bottom: 10px;
  width: 100%;
}

.post-image {
  max-height: 700px;
}

footer {
  background-color: #f0f0f0;
  font-family: "Libre Franklin", sans-serif;
  font-size: x-small;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-top: 15px;
  margin-right: 0;
}
.tags-container {
  margin-top: 10px;
}

.tag-label {
  font-style: italic;
  background-color: #333333;
  color: #f0f0f0;
  padding: 5px;
  border-radius: 10%;
}

.tag-label:not(:first-child) {
  margin-left: 4px;
}

@media (max-width: 768px) {
   .navbar {
    padding: 0px 0px; 
    height: 50px;
    float: none;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0; 
    z-index: 1000; 
  }
  .content {
    margin-left: 5px;
    width: 80%;
  }
  footer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .post-image {
    max-width: 400px;
  }
}
